.offer-wrapper {
  position: relative;
  width: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #fefefe;
  background-color: rgba(5, 0, 5, 1);

  .offer {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
    // padding: 5rem 10%;

    .special-text {
      // position: absolute;
      top: 0;
      text-align: center;
      font-size: 7.5rem;
      opacity: 0.25;
      color: #ffa600;
    }

    .sub-text {
      text-transform: uppercase;
      color: #ffa600;
    }

    .offer-text {
      font-size: 1.5rem;
      color: #ddd;
      font-family: "Orbitron";
    }
  }
}
