.partners {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .partner {
    .special {
      font-size: 3rem;
    }
  }

  h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #0893e4, #10c2ee);
    padding: 0 1rem;
  }
}
