.images-bar-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  padding: 0.5rem 2rem;
  height: 50px;
  bottom: 2rem;
  border-radius: 25px;
  background-color: rgba(5, 5, 15, 0.25);
  background-image: linear-gradient(
    to right,
    rgba(17, 150, 255, 0.125),
    rgba(8, 185, 255, 0.1)
  );

  // rgba(8, 147, 228, 0.1),
  // rgba(16, 194, 238, 0.125)

  .bar {
    display: flex;
    gap: 0.5rem;

    .image-box {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 25px;
      background-color: rgba(0, 119, 255, 0.25);
      transition: all 0.15s ease;

      &:hover {
        background-color: rgba(20, 100, 220, 0.6);
      }
    }

    .active {
      width: 60px;
      background-color: rgba(20, 100, 200, 0.75);
      transition: all 0.15s ease;

      &:hover {
        background-color: rgba(20, 100, 200, 0.9);
      }
    }
  }
}
