/* Color variables */
$defult-text-light: #050505;
$special-text-light: limegreen;
$default-bg-light: #fefefe;

$defult-text-dark: #fefefe;
$special-text-dark: limegreen;
$default-bg-dark: #050505;

/* MIXINS DARK MODE */
@mixin dark-mode {
  $background-color: $default-bg-dark;
  $default-text: $defult-text-dark;
  $special-text: $special-text-dark;
}

@mixin light-mode {
  $background-color: $default-bg-light;
  $default-text: $defult-text-light;
  $special-text: $special-text-ligh;
}

/* NEED FOR SPEED FONT */
@font-face {
  font-family: "need_for_speed";
  src: url("./assets//fonts//NFS-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  min-height: 200vh;
  overflow: hidden;
  overflow-y: scroll;

  background-color: $background-color;
  color: $default-text;
}

.dark-mode {
  @include dark-mode;
}

.dark-mode {
  @include light-mode;
}

.application {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $default-text;
  font-family: "need_for_speed";
  background-color: $background-color;
}

// /* DEEPEST POSSIBLE SUPPORT */
// @font-face {
//   font-family: "NFS";
//   src: url("/public/fonts/NFS-webfont.eot"); /* IE9 Compat Modes */
//   src: url("/public/fonts/NFS-webfont.woff2") format("woff2"),
//     /* Super Modern Browsers */ url("/public/fonts/NFS-webfont.woff")
//       format("woff"),
//     /* Pretty Modern Browsers */ url("/public/fonts/NFS-webfont.ttf")
//       format("truetype"),
//     /* Safari, Android, iOS */ url("/public/fonts/NFS-webfont.svg")
//       format("svg"); /* Legacy iOS */
// }
