/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

/* Color variables */
$default-text-light: #050505;
$special-text-light: limegreen;
$default-bg-light: #fefefe;

//colors i need
// text
// light-text
// background
// transparent-bg
// transparent-bg
// special
// second-special

// orange to check out
// blue to check out
// dark-light || orange-blue

$default-text-dark: #fefefe;
$special-text-dark: limegreen;
$default-bg-dark: #050505;

/* MIXINS DARK MODE */
@mixin dark-mode {
  :root {
    $background-color: $default-bg-dark;
    $default-text: $default-text-dark;
    $special-text: $special-text-dark;
  }
}

@mixin light-mode {
  :root {
    $background-color: $default-bg-light;
    $default-text: $default-text-light;
    $special-text: $special-text-light;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgba(5, 0, 5, 1);
}

/* switch modes */
.dark-mode {
  @include dark-mode;
}

.dark-mode {
  @include light-mode;
}

.application {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "need_for_speed";

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/* NEED FOR SPEED FONT */
@font-face {
  font-family: "need_for_speed";
  /* Super Modern Browsers */
  src: url("./assets//fonts//NFS-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
